.todo-name {
    display: inline-block;
}

.todo-icon {
    margin-left: 10px;
    display: inline-block;
}

table, tbody, tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}
table {
    width: 100%;
}

td, th {
    padding: 12px 10px;
}

.dayHeader {
    text-align: center;
    background-color: rgba(0, 140, 255, 0.575);
}

.thInput {
    width: 100%;
}