.navbarContainer {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    /* padding: 18px 15px; */
}

.navCF {
    padding: 25px;
}

.nav-btn {
    color: black;
    text-decoration: none;
}

.nav-btn:hover {
    color: black;
    text-decoration: none;
}

.nav-btn > div {
    display: inline-block;
    margin: 0px 5px;
    width: 100px;
    text-align: center;
    padding: 5px 0px;
}

.nav-btn > div:hover {
    border-bottom: 2px solid black;
}

.navActive {
    border-bottom: 2px solid black;
}

.col-3Nav {
    text-align: right;
}