<div class="container-fluid navbarContainer navCF">
    <div class="row">
        <div class="col-9">
            <a href="/" class="nav-btn">
                <div <% if(active === 'home') { %> class="navActive" <% } %> >
                    HOME
                </div>
            </a>
            <a href="/add" class="nav-btn">
                <div <% if(active === 'add') { %> class="navActive" <% } %>>
                    TILFØJ
                </div>
            </a>
        </div>
        <div class="col-3 col-3Nav">
            <div class="username-display">
                (user) &nbsp
            </div>
            <div class="logout-btn">
                LOG UD
            </div>
        </div>
    </div>
</div>