<div class="navbarContainer">
    <div class="navbar">
        <ul>
            <li <% if(active === 'home') { %> class="navbarActive" <% } %>>
                <a href="/">
                    <div>
                        HOME
                    </div>
                </a>
            </li>
            <li <% if(active === 'add') { %> class="navbarActive" <% } %>>
                <a href="/add">
                    <div>
                        TILFØJ
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="loginContainer">
        <ul>
            <li>
                <a href="">
                    <div>
                        LOG UD
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>