<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TILFØJ</title>
    <%- include('../headers/defaultHeader') %>
    <link rel="stylesheet" href="./css/add.css">
</head>
<body>
    <%- include('../templates/navbar') %>

    <div class="container-fluid">
        <form action="/addSkemas" method="post">
            <!-- week -->
            <h3>
                Efterskole
            </h3>
            <table class="addTable">
                <tbody id="dayPlan">
                    <tr>
                        <td class="weekHeader" colspan="100%">
                            Uge <input name="weeknumber" type="text" placeholder="Uge nr." class="weekInput" maxlength="2">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td class="dayHeader">
                            Mandag
                        </td>
                        <td class="dayHeader">
                            Tirsdag
                        </td>
                        <td class="dayHeader">
                            Onsdag
                        </td>
                        <td class="dayHeader">
                            Torsdag
                        </td>
                        <td class="dayHeader">
                            Fredag
                        </td>
                        <td class="dayHeader">
                            Lørdag
                        </td>
                        <td class="dayHeader">
                            Søndag
                        </td>
                    </tr>
                    <tr>
                        <td class="task-title">
                            <input name="dayHeaderInput_1" type="text" class="thInput" placeholder="Skriv her">
                        </td>
                        <td>
                            <textarea name="dayMonText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="dayTueText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="dayWenText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="dayTurText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="dayFriText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="daySatText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="daySunText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button onclick="addDayRow('dayPlan', 'dayRowCounter');" type="button">Tilføj række</button>
                <input type="text" name="dayRowCounter" id="dayRowCounter" value="1">
            </div>
            <!-- week end -->
            <!-- Lektier -->
            <h3>
                Lektier
            </h3>
            <table class="addTable">
                <tbody id="homeWorkPlan">
                    <tr>
                        <td class="homeWorkHeader" colspan="100%">
                            Uge <input name="weeknumber" type="text" placeholder="Uge nr." class="weekInput" maxlength="2">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td class="dayHeader">
                            Mandag
                        </td>
                        <td class="dayHeader">
                            Tirsdag
                        </td>
                        <td class="dayHeader">
                            Onsdag
                        </td>
                        <td class="dayHeader">
                            Torsdag
                        </td>
                        <td class="dayHeader">
                            Fredag
                        </td>
                        <td class="dayHeader">
                            Lørdag
                        </td>
                        <td class="dayHeader">
                            Søndag
                        </td>
                    </tr>
                    <tr>
                        <td class="task-title">
                            <input name="homeworkHeaderInput_1" type="text" class="thInput" placeholder="Skriv her">
                        </td>
                        <td>
                            <textarea name="homeworkMonText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="homeworkTueText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="homeworkWenText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="homeworkTurText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="homeworkFriText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="homeworkSatText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                        <td>
                            <textarea name="homeworkSunText_1" id="" class="dayTextarea" placeholder="Hvad skal der laves?"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button onclick="addHomeworkRow('homeWorkPlan', 'homeWorkRowCounter');" type="button">Tilføj række</button>
                <input type="text" name="homeWorkRowCounter" id="homeWorkRowCounter" value="1">
            </div>
            <!-- lektier end -->
            <div>
                <div>
                    <button type="submit">GEM</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script src="./js/addDayRows.js"></script>
<script src="./js/addHomeworkRows.js"></script>
</html> 